
.container {
    position: relative;
    text-align: center;
    background-color: #ffffff;
    opacity: 60%;
  }
  
.banner-info{
	padding-top: 190px;
}
.banner-logo img{
	display: inline-block;
    margin-top: 300px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 30%;
    
}
.banner-text{
	color: #fff;
}
.banner-text h1{
	font-family: 'Candal', sans-serif;
	font-size: 35px;
	text-transform: uppercase;
	padding-bottom:15px;
    color: rgb(255, 255, 255);
}
.btn, .btn:hover, .btn:focus{
	margin-top: 30px;
	padding: 10px 20px;
	font-size: 12px;
	background-color: rgba(45, 209, 108, 0.793);
	border-radius: 3px;
	color: #fff;
    margin-left: auto;
    margin-right: auto;
    
}
