/*.banner{
  width: 100%;
  height: 100vh;
  background-image: linear-gradient(rgba(0,0,0,0.75)),url('../assets/photos/img4.jpg');
  background-size: cover;
  background-position: center;
}*/


.content{
  background: #481b1b38;
  background-color: #f9f9f976;
  width: 100%;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  text-align: center;
  font-family: sans-serif;
  color: rgb(32, 37, 92);
  text-shadow: 0 0 40px rgba(255, 255, 255, 0.473);

}

.content h1{
  color: rgb(13, 86, 80);
  font-size: 50px;
  margin-top: 80px;
}
.content h1 span{
  color: rgb(63, 182, 87);
  font-size: 50px;
  margin-top: 80px;
}
.content p{
  margin: 20px auto;
  font-size: medium;
  font-weight: 100;
  line-height: 25px;
}